################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/PmxEditor_0222c
/any_rotation_bones_plugin/任意中心回転ボーン生成プラグイン
